Repository hmcts/cmc-citizen-frontend, pull requests merged in 2020-06, with the labels that each got.

#2326 Feature/roc 7939 paper response data model
  config/development.json
  src/main/app/claims/models/response/responseCommon.ts
  src/main/app/claims/models/response/responseMethod.ts
  src/main/app/claims/responseModelConverter.ts
  src/test/data/entity/responseData.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2326

#2337 bump chart version
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2337

#2316 ROC-7926 No mediation and mediation failed dashboards to show updates will be by post
  src/main/features/dashboard/views/macro/claimStatus/claimRejected.njk
  src/test/features/dashboard/routes/claimStatus/full-defence.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2316

#2342 ROC-8056 Cannot have LA and Judge pilot features at the same time
  src/main/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/helpers/featuresBuilder.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2342

#2317 ROC-7883-Updating both parties dashboards for paper applications(Frontend)
  src/main/app/claims/models/claim.ts
  src/main/app/claims/models/claimStatus.ts
  src/main/app/claims/models/proceedOfflineReason.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/caseStatus.njk
  src/main/features/dashboard/views/macro/claimStatus/offlineResponse.njk
  src/main/modules/nunjucks/index.ts
  src/test/app/claims/models/claim.ts
  src/test/features/dashboard/routes/claimStatus/full-defence.ts
  src/test/features/dashboard/routes/dashboard/full-defence.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2317

#2290 ROC-7858-Update Dashboard when default CCJ is requested.
  src/main/features/dashboard/views/macro/claimStatus/ccjRequested.njk
  src/main/features/dashboard/views/macro/claimStatus/redeterminationRequestedClaimant.njk
  src/test/features/dashboard/routes/claimStatus/ccj.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2290

#2329 Features/ROC-7651 turn on admissions for all new claims
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/dockertests.json
  config/mocha.json
  src/main/app.ts
  src/main/features/claim/helpers/featuresBuilder.ts
  src/main/features/response/guards/partialAdmissionGuard.ts
  src/main/features/response/helpers/statementOfMeansFeature.ts
  src/main/features/response/helpers/taskListBuilder.ts
  src/main/features/response/index.ts
  src/main/features/response/routes/check-and-send.ts
  src/main/features/response/routes/evidence.ts
  src/main/features/response/routes/full-admission/payment-date.ts
  src/main/features/response/routes/full-admission/payment-option.ts
  src/main/features/response/routes/full-admission/payment-plan.ts
  src/main/features/response/routes/full-rejection/how-much-have-you-paid.ts
  src/main/features/response/routes/full-rejection/why-do-you-disagree.ts
  src/main/features/response/routes/full-rejection/you-have-paid-less.ts
  src/main/features/response/routes/partial-admission/already-paid.ts
  src/main/features/response/routes/partial-admission/how-much-do-you-owe.ts
  src/main/features/response/routes/partial-admission/how-much-have-you-paid.ts
  src/main/features/response/routes/partial-admission/payment-date.ts
  src/main/features/response/routes/partial-admission/payment-option.ts
  src/main/features/response/routes/partial-admission/payment-plan.ts
  src/main/features/response/routes/partial-admission/why-do-you-disagree.ts
  src/main/features/response/routes/response-type.ts
  src/main/features/response/routes/statement-of-means/priority-debts.ts
  src/main/features/response/routes/timeline.ts
  src/main/features/response/views/check-and-send.njk
  src/test/app/claims/claimStoreClient.ts
  src/test/app/claims/models/claim.ts
  src/test/app/claims/responseModelConverter.ts
  src/test/data/entity/claimData.ts
  src/test/features/claim/helpers/featuresBuilder.ts
  src/test/features/claimant-response/helpers/taskListBuilder.ts
  src/test/features/claimant-response/routes/confirmation.ts
  src/test/features/claimant-response/routes/defendants-response.ts
  src/test/features/claimant-response/tasks/detailsInCaseOfHearingTask.ts
  src/test/features/dashboard/routes/claimStatus/full-defence.ts
  src/test/features/dashboard/routes/claimStatus/orders.ts
  src/test/features/dashboard/routes/claimStatus/part-admission.ts
  src/test/features/dashboard/routes/dashboard/orders.ts
  src/test/features/dashboard/routes/dashboard/part-admission.ts
  src/test/features/mediation/routes/free-mediation.ts
  src/test/features/orders/routes/confirmation.ts
  src/test/features/orders/routes/disagree-with-order.ts
  src/test/features/orders/routes/review-order-receipt.ts
  src/test/features/response/helpers/statementOfMeansFeature.ts
  src/test/features/response/helpers/taskListBuilder.ts
  src/test/features/response/routes/check-and-send.ts
  src/test/features/response/routes/full-rejection/how-much-have-you-paid.ts
  src/test/features/response/tasks/detailsInCaseOfHearingTask.ts
  src/test/features/response/tasks/freeMediationTask.ts
  src/test/http-mocks/claim-store.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2329

#2333 ROC-8042: Claim transferred claim details
  src/main/app/claims/models/claim.ts
  src/main/app/claims/models/claimStatus.ts
  src/main/app/claims/models/transferContents.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/claimStatus/claimTransferred.njk
  src/test/app/claims/models/claim.ts
  src/test/app/forms/models/transferContents.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2333

#2335 Feature/roc 7977 transferred case status
  src/main/app/claims/models/claim.ts
  src/main/features/dashboard/views/macro/caseStatus.njk
  src/main/features/dashboard/views/macro/claimStatus/claimTransferred.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2335

#2346 ROC-7971 banner for intermittent issues on service
  src/main/app/utils/featureToggles.ts
  src/main/common/clients/launchDarklyClient.ts
  src/main/modules/nunjucks/index.ts
  src/main/views/includes/banner.njk
  src/main/views/layout.njk
  src/test/app/utils/featureToggles.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2346

#2347 remove ff4j from chart default values
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2347

#2353 ROC-8101 Move injection of the warning_banner toggle state to Node.js, just consume in nunjucks
  src/main/app.ts
  src/main/app/utils/featureToggles.ts
  src/main/modules/nunjucks/index.ts
  src/test/app/utils/featureToggles.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2353

#2360 ROC-7959, ROC-8098 LaunchDarkly toggle
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/dockertests.json
  config/mocha.json
  src/main/app/utils/featureToggles.ts
  src/main/common/clients/launchDarklyClient.ts
  src/main/features/claim/helpers/featuresBuilder.ts
  src/main/features/eligibility/eligibilityPage.ts
  src/main/features/eligibility/model/eligibility.ts
  src/main/features/eligibility/routes/claim-is-for-tenancy-deposit.ts
  src/main/features/eligibility/routes/claim-type.ts
  src/main/features/eligibility/routes/claim-value.ts
  src/main/features/eligibility/routes/claimant-address.ts
  src/main/features/eligibility/routes/defendant-address.ts
  src/main/features/eligibility/routes/defendant-age.ts
  src/main/features/eligibility/routes/government-department.ts
  src/main/features/eligibility/routes/help-with-fees-reference.ts
  src/main/features/eligibility/routes/help-with-fees.ts
  src/main/features/eligibility/routes/over-18.ts
  src/main/features/eligibility/routes/single-defendant.ts
  src/test/app/utils/featureToggles.ts
  src/test/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/routes/pay.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2360

#2362 RDM-8809 Upgrade ccd definition version to 1.6.2
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2362

#2328 ROC-7534 Allow online journey after offline defence
  src/main/app/claims/models/claim.ts
  src/main/app/claims/models/claimStatus.ts
  src/main/features/dashboard/views/macro/caseStatus.njk
  src/test/app/claims/models/claim.ts
  src/test/features/dashboard/routes/claimStatus/full-defence.ts
  src/test/features/dashboard/routes/dashboard/full-defence.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2328

#2352 configure renovate
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  renovate.json
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2352

#2339 ROC-7807 view scanned defence response
  src/main/app/documents/scannedDocumentsClient.ts
  src/main/features/claimant-response/views/defendants-response.njk
  src/main/features/response/index.ts
  src/main/features/response/paths.ts
  src/main/features/response/routes/scanned-response-form.ts
  src/test/a11y/a11y.ts
  src/test/app/documents/scannedDocumentsClient.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2339
