Repository hmcts/cmc-citizen-frontend, pull requests merged in 2020-11, with the labels that each got.

#2609 Update all signposts in OCMC Pages with new opening hours for CTSC contact center
  README.md
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2609

#2613 Feature/roc 8433 privacy policy email update
  src/main/views/privacy-policy.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2613

#2612 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2612

#2614 add explicit timeout param
  src/main/app/claims/claimStoreClient.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2614

#2615 Removing the static downtime (Intermediate issue) content from the contact-us page
  src/main/views/contact-us.njk
  src/main/views/macro/support.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2615

#2623 Fix/build issue
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2623

#2621 incease default timeout
  config/default.json
  default.conf.js
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2621

#2654 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2654

#2656 Update audit.json
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2656

#2659 Bugfix/roc 8437 claimant view ocon9x defendant response
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/app/claims/models/claim.ts
  src/main/app/common/scannedDocumentType.ts
  src/main/features/claim/views/macro/about-claim-widget.njk
  src/main/features/dashboard/claims-state-machine/full-defence-transitions.ts
  src/test/app/claims/models/claim.ts
  src/test/app/claims/models/claimDocument.ts
  src/test/features/dashboard/routes/claimant.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2659

#2678 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2678

#2690 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2690

#2689 feature/ROC-8591-Accessibility-statement-update
  src/main/views/accessibility-statement.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2689

#2692 temporary logging for cpu usgae issue
  src/main/app.ts
  src/main/server.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2692
