Repository hmcts/cmc-citizen-frontend, pull requests merged in 2020-12, with the labels that each got.

#2680 Feature/ROC-8384-Preferred-Court-Search
  src/main/features/directions-questionnaire/forms/models/hearingLocation.ts
  src/main/features/directions-questionnaire/routes/hearing-location.ts
  src/main/features/directions-questionnaire/views/hearing-location.njk
  src/main/views/macro/form.njk
  src/test/features/directions-questionnaire/form/models/hearingLocation.ts
  src/test/features/directions-questionnaire/routes/hearing-location.ts
  src/test/http-mocks/court-finder-client.ts
  src/test/http-mocks/draft-store.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2680

#2705 Feature/link defendant issue
  config/custom-environment-variables.json
  config/default.json
  config/mocha.json
  src/integration-test/bootstrap/bootstrap.ts
  src/integration-test/tests/citizen/claimantResponse/part_admission_defendant_is_business_test.ts
  src/main/app/claims/claimStoreClient.ts
  src/main/app/utils/featureToggles.ts
  src/main/features/first-contact/guards/claimReferenceMatchesGuard.ts
  src/main/routes/receiver.ts
  src/test/app/utils/featureToggles.ts
  src/test/routes/receiver.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2705

#2718 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2718

#2708 Updated new CTSC Work Hours
  src/main/public/waf.html
  src/main/public/webchat/javascript/webchart-init.js
  src/main/views/accessibility-statement.njk
  src/main/views/contact-us.njk
  src/main/views/macro/support.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2708

#2720 Feature/roc 8582 reconsideration ocon
  config/default.json
  src/main/app/claims/models/claim.ts
  src/main/features/dashboard/routes/defendant.ts
  src/test/app/claims/models/claim.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2720

#2601 ROC-8482+8527+8528+8604=Paper response review event changes for 'Response Form' document types
  config/development.json
  src/main/app/claims/models/claim.ts
  src/main/app/common/scannedDocumentType.ts
  src/main/features/claim/views/macro/about-claim-widget.njk
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/claimStatus/businessQueue.njk
  src/test/features/dashboard/routes/claimant.ts
  src/test/features/dashboard/routes/defendant.ts
  src/test/http-mocks/claim-store.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2601

#2721 show correct claim amount on the CCJ
  src/main/common/components/ccj/paid-amount-summary.njk
  src/main/features/claimant-response/helpers/amountHelper.ts
  src/main/features/claimant-response/routes/paid-amount-summary.ts
  src/main/features/claimant-response/views/defendants-response.njk
  src/main/features/claimant-response/views/settle-admitted.njk
  src/test/features/claimant-response/helpers/amountHelper.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2721

#2738 Roc 8625 dummy branch
  README.md
  src/integration-test/tests/citizen/endToEnd/endToend_test.ts
  src/integration-test/tests/citizen/govukAccessRoutes/returnToClaim_test.ts
  src/integration-test/tests/citizen/offers/offers_test.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2738
