Repository hmcts/cmc-citizen-frontend, pull requests merged in 2020-08, with the labels that each got.

#2447 Nightly build test case failure Fix
  charts/cmc-citizen-frontend/values.preview.template.yaml
  security.sh
  src/integration-test/tests/citizen/claimantResponse/steps/defendant.ts
  src/integration-test/tests/citizen/defence/steps/defence.ts
  src/main/features/dashboard/views/macro/claimStatus/claimTransferred.njk
  src/main/features/first-contact/views/claimant-has-requested-ccj.njk
  src/main/features/response/views/counter-claim.njk
  src/main/public/stylesheets/application.scss
  src/main/public/stylesheets/components/_contact-us.scss
  src/main/public/waf.html
  src/main/views/includes/phase_banner_beta.njk
  src/main/views/macro/externalLink.njk
  src/main/views/macro/support.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2447

#2426 Bug/roc 7773 pdf link accessibility
  src/main/features/claim/views/confirmation.njk
  src/main/features/claimant-response/views/confirmation.njk
  src/main/features/claimant-response/views/defendants-response.njk
  src/main/features/dashboard/views/claimant.njk
  src/main/features/dashboard/views/defendant.njk
  src/main/features/dashboard/views/directions-questionnaire.njk
  src/main/features/dashboard/views/macro/claimStatus/claimRejected.njk
  src/main/features/dashboard/views/macro/claimStatus/orders.njk
  src/main/features/dashboard/views/macro/claimStatus/utilityMacros.njk
  src/main/features/first-contact/views/claim-summary.njk
  src/main/features/offer/views/settled.njk
  src/main/features/orders/views/confirmation.njk
  src/main/features/response/views/claim-details.njk
  src/main/features/response/views/confirmation.njk
  src/main/features/response/views/eligibility/send-your-response-by-email.njk
  src/main/features/settlement-agreement/views/settlement-agreement-confirmation.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2426

#2409 Fixing accessibility issues mentioned in DAC report pages from 13 ti…
  src/main/features/response/views/partial-admission/how-much-do-you-owe.njk
  src/main/features/response/views/statement-of-means/bank-accounts.njk
  src/main/features/response/views/your-defence.njk
  src/main/public/stylesheets/components/_mobile.scss
  src/main/public/stylesheets/components/_multiline.scss
  src/main/views/macro/address.njk
  src/main/views/macro/form.njk
  src/main/views/macro/timelineFragment.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2409

#2381 ROC-8094: Auto enroll all claims into new features
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/dockertests.json
  config/mocha.json
  src/integration-test/bootstrap/bootstrap.ts
  src/main/app/utils/featureToggles.ts
  src/main/features/claim/guards/newFeaturesConsentGuard.ts
  src/main/features/claim/helpers/featuresBuilder.ts
  src/main/features/testing-support/routes/create-claim-draft.ts
  src/test/app/utils/featureToggles.ts
  src/test/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/routes/task-list.ts
  src/test/features/testing-support/create-claim-draft.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2381

#2463 ROC-6540-Update-Money-claim-Privacy-Policy
  src/main/views/privacy-policy.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2463

#2465 ROC-8246: Claimant cannot view transferred cases online
  src/main/features/dashboard/views/macro/claimStatus/claimTransferred.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2465
