Repository hmcts/cmc-citizen-frontend, pull requests merged in 2020-04, with the labels that each got.

#2254 remove terraform ase code
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2254

#2265 Features/roc 7755 change statement of truth to include additional content test
  src/main/features/claim/views/check-and-send.njk
  src/main/features/response/views/check-and-send.njk
  src/main/views/macro/form.njk
  src/test/features/claim/routes/check-and-send.ts
  src/test/features/response/routes/check-and-send.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2265

#2262 update idam-pr
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2262

#2205 ROC-7377 | added new claim state
  src/main/app/claims/models/claimState.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2205

#2270 ROC-7531: Clean up ccd chart config
  Jenkinsfile_CNP
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/test/app/claims/models/claim.ts
  src/test/app/claims/responseModelConverter.ts
  src/test/data/draft/claimantResponseDraft.ts
  src/test/data/entity/amount-breakdown.ts
  src/test/data/entity/ccjData.ts
  src/test/data/entity/claimData.ts
  src/test/data/entity/fullAdmission.ts
  src/test/data/entity/fullDefenceData.ts
  src/test/data/entity/mockAddressResponse.ts
  src/test/data/entity/partAdmitData.ts
  src/test/data/entity/responseData.ts
  src/test/data/entity/settlement.ts
  src/test/data/entity/statementOfMeansData.ts
  src/test/features/ccj/routes/check-and-send.ts
  src/test/features/ccj/routes/paid-amount-summary.ts
  src/test/features/ccj/routes/repayment-plan-summary.ts
  src/test/features/claimant-response/helpers/directionsQuestionnaireHelper.ts
  src/test/features/claimant-response/helpers/paydateHelper.ts
  src/test/features/claimant-response/helpers/statesPaidHelper.ts
  src/test/features/claimant-response/helpers/taskListBuilder.ts
  src/test/features/claimant-response/routes/check-and-send.ts
  src/test/features/dashboard/routes/claimStatus/ccj.ts
  src/test/features/dashboard/routes/claimStatus/full-admission.ts
  src/test/features/dashboard/routes/claimStatus/full-defence.ts
  src/test/features/dashboard/routes/claimStatus/orders.ts
  src/test/features/dashboard/routes/claimStatus/part-admission.ts
  src/test/features/dashboard/routes/claimStatus/settlement.ts
  src/test/features/dashboard/routes/claimStatus/states-paid.ts
  src/test/features/dashboard/routes/dashboard/ccj.ts
  src/test/features/dashboard/routes/dashboard/full-admission.ts
  src/test/features/dashboard/routes/dashboard/full-defence.ts
  src/test/features/dashboard/routes/dashboard/orders.ts
  src/test/features/dashboard/routes/dashboard/part-admission.ts
  src/test/features/dashboard/routes/dashboard/settlement.ts
  src/test/features/dashboard/routes/dashboard/states-paid.ts
  src/test/features/dashboard/routes/index.ts
  src/test/features/response/routes/confirmation.ts
  src/test/http-mocks/claim-store.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2270

#2276 upgrade nodejs chart and bump version
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2276

#2283 RDM-8270 Upgrade ccd definition version to 1.5.15.3
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2283

#2287 Add new claim states
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/app/claims/models/claimState.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2287

#2292 update to use latest nodejs chart
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2292

#2294 Amend preview chart for redirect config
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2294

#2236 ROC-7662-Content change on Direction Questionnaire when party selects "Language Interpreter"
  src/main/features/directions-questionnaire/views/support-required.njk
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2236

#2298 Set pull policy and latest for definition store
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2298

#2278 ROC-7846 Add 2020 allowances
  src/main/resources/meansAllowance.json
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2278

#2259 Set JDDO threshold to £10,000 (DO NOT MERGE WITHOUT APPROVAL FROM PO)
  src/main/features/claim/helpers/featuresBuilder.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2259

#2299 ROC-7846 Correct the start date for new figures
  src/main/resources/meansAllowance.json
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2299

#2300 RDM-8293 Upgrade ccd definition version to 1.5.16
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2300
