Repository hmcts/cmc-citizen-frontend, pull requests merged in 2020-05, with the labels that each got.

#2285 ROC-5882 Update guards to check if a paper response has been received
  src/main/features/ccj/guards/ccjGuard.ts
  src/main/features/response/guards/responseGuard.ts
  src/test/features/ccj/guards/ccjGuard.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2285

#2310 up the claim store chart version
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2310

#2304 ROC-7882 Inform claimant and defendant that response will be via post if repayment schedule f…
  src/main/features/dashboard/views/macro/claimStatus/claimFullAdmissionForDefendant.njk
  src/main/features/dashboard/views/macro/claimStatus/claimPartAdmittedDefendant.njk
  src/main/features/dashboard/views/macro/claimStatus/claimantResponse.njk
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2304

#2302 ROC-7872-Update-Dashboard-About-Offline-Journey-When-repayment-plan-requested
  src/main/features/dashboard/views/macro/claimStatus/redeterminationRequestedClaimant.njk
  src/main/features/dashboard/views/macro/claimStatus/redeterminationRequestedDefendant.njk
  src/test/features/dashboard/routes/claimStatus/ccj.ts
  src/test/features/dashboard/routes/claimStatus/full-admission.ts
  src/test/features/dashboard/routes/claimStatus/part-admission.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2302, stale

#2293 ROC-7871 Update dashboards after interlocutory judgments
  src/main/features/dashboard/views/macro/claimStatus/redeterminationRequestedClaimant.njk
  src/main/features/dashboard/views/macro/claimStatus/redeterminationRequestedDefendant.njk
  src/test/features/dashboard/routes/claimStatus/ccj.ts
  src/test/features/dashboard/routes/claimStatus/full-admission.ts
  src/test/features/dashboard/routes/claimStatus/part-admission.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2293

#2288 ROC-7890: Pass the return url payload to claim-store
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/mocha.json
  src/main/app/claims/claimModelConverter.ts
  src/main/app/pay/payment.ts
  src/main/features/claim/routes/initiate-payment.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2288

#2263 ROC-7586 Migrate to LaunchDarkly
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/mocha.json
  infrastructure/main.tf
  package.json
  src/main/common/clients/featureTogglesClient.ts
  src/main/common/clients/launchDarklyClient.ts
  src/main/features/claim/helpers/featuresBuilder.ts
  src/main/features/claim/routes/finish-payment.ts
  src/main/features/claim/routes/pay.ts
  src/test/common/clients/featureTogglesClient.ts
  src/test/common/errorHandling.ts
  src/test/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/routes/pay.ts
  src/test/http-mocks/feature-toggle-store.ts
  src/test/routes/hooks.ts
  yarn.lock
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2263

#2308 remove cmc-features jenkins branch
  Jenkinsfile_CNP
  charts/cmc-citizen-frontend/values.preview.template.yaml
  docker-compose.functional-tests.yml
  docker-compose.nightly-functional-tests.yml
  docker-compose.smoke-tests.yml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2308

#2320 Remove feature toggles usage from chart
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/requirements.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  charts/cmc-citizen-frontend/values.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2320

#2319 RDM-8494 Upgrade ccd definition version to 1.5.17
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2319

#2246 ROC-7287 frontend task to use tabs in dashboard and display documents
  .gitignore
  gulpfile.js
  package.json
  src/main/app/claims/models/claim.ts
  src/main/app/claims/models/claimDocument.ts
  src/main/app/common/claimDocumentType.ts
  src/main/app/documents/documentsClient.ts
  src/main/features/claim/index.ts
  src/main/features/claim/paths.ts
  src/main/features/claim/routes/document.ts
  src/main/features/dashboard/views/claimant.njk
  src/main/features/dashboard/views/defendant.njk
  src/main/modules/nunjucks/index.ts
  src/main/public/js/tabs.js
  src/main/public/stylesheets/components/_dashboard.scss
  src/main/views/includes/head.njk
  src/main/views/layout.njk
  src/test/a11y/a11y.ts
  src/test/app/claims/models/claimDocument.ts
  src/test/app/documents/documentsClient.ts
  src/test/features/claim/routes/document.ts
  yarn.lock
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2246

#2322 Fixed gulp task issue
  gulpfile.js
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2322

#2324 remove ft key-vault key
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2324

#2325 Applying Filter for all the documentTypes coming from claim-store
  src/main/app/claims/models/claim.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2325

#2327 RDM-8562 Upgrade ccd definition version to 1.5.18
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2327

#2323 ROC-7994 Refactor feature builder
  src/main/common/clients/launchDarklyClient.ts
  src/main/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/routes/pay.ts
Labels: ns:money-claims, rel:cmc-citizen-frontend-pr-2323
