Repository hmcts/cmc-citizen-frontend, pull requests merged in 2020-07, with the labels that each got.

#2383 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2383

#2385 Features/roc 7972 ccj content change
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/features/ccj/views/confirmation-ccj.njk
  src/main/features/dashboard/views/macro/claimStatus/ccjRequested.njk
  src/test/features/ccj/routes/confirmation-ccj.ts
  src/test/features/dashboard/routes/claimStatus/ccj.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2385

#2386 fix for the unit test failure
  src/test/app/claims/models/claim.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2386

#2406 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2406

#2413 Feature/roc 8010 sign post update
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  src/main/app.ts
  src/main/app/utils/featureToggles.ts
  src/main/features/claimant-response/views/confirmation/proposed-alternate-payment-plan-to-business-defendant.njk
  src/main/features/dashboard/views/macro/claimStatus/claimantResponse.njk
  src/main/features/dashboard/views/macro/cmcCorrespondenceAddress.njk
  src/main/features/response/views/eligibility/send-your-response-by-email.njk
  src/main/public/waf.html
  src/test/app/utils/featureToggles.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2413

#2414 ROC-9032 bumping ccd version in values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2414

#2364 Roc 8068 pcq terraform
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  docker-compose.functional-tests.yml
  docker-compose.nightly-functional-tests.yml
  docker-compose.smoke-tests.yml
  infrastructure/main.tf
  src/integration-test/bootstrap/bootstrap.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2364

#2397 Features/roc 8086 pcq integration
  charts/cmc-citizen-frontend/values.preview.template.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/mocha.json
  default.conf.js
  src/integration-test/helpers/pcqHelper.js
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/steps/claim.ts
  src/integration-test/tests/citizen/defence/full_admission_test.ts
  src/integration-test/tests/citizen/defence/steps/defence.ts
  src/main/app/claims/claimModelConverter.ts
  src/main/app/claims/models/details/yours/company.ts
  src/main/app/claims/models/details/yours/individual.ts
  src/main/app/claims/models/details/yours/organisation.ts
  src/main/app/claims/models/details/yours/party.ts
  src/main/app/claims/models/details/yours/soleTrader.ts
  src/main/app/claims/responseModelConverter.ts
  src/main/app/forms/models/partyDetails.ts
  src/main/app/utils/featureToggles.ts
  src/main/app/utils/models/pcqParameters.ts
  src/main/app/utils/pcqClient.ts
  src/main/app/utils/tokenGenerator.ts
  src/main/features/claim/routes/evidence.ts
  src/main/features/response/routes/check-and-send.ts
  src/test/a11y/a11y.ts
  src/test/app/utils/featureToggles.ts
  src/test/app/utils/pcqClient.ts
  src/test/app/utils/tokenGenerator.ts
  src/test/features/claim/routes/evidence.ts
  src/test/features/response/routes/check-and-send.ts
  types/steps-override.d.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2397

#2361 Roc 8054 ccbc changes
  src/main/app/claims/models/claim.ts
  src/main/app/claims/models/claimState.ts
  src/main/app/claims/models/claimStatus.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/caseStatus.njk
  src/main/features/dashboard/views/macro/claimStatus/businessQueue.njk
  src/test/app/claims/models/claim.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2361

#2417 Roc 7855 show documents
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/app/claims/models/claim.ts
  src/main/app/claims/models/claimDocument.ts
  src/main/app/common/claimDocumentType.ts
  src/main/app/common/scannedDocumentType.ts
  src/main/app/documents/scannedDocumentsClient.ts
  src/main/features/claim/routes/document.ts
  src/test/app/claims/models/claim.ts
  src/test/app/claims/models/claimDocument.ts
  src/test/app/documents/scannedDocumentsClient.ts
  src/test/http-mocks/claim-store.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2417

#2420 RDM-9019 bumping ccd version in values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2420

#2411 ROC-7889-Show_Contact_Details
  src/main/app/claims/models/details/theirs/theirDetails.ts
  src/main/features/dashboard/views/contact-them.njk
  src/test/app/claims/models/details/theirs/theirDetails.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2411

#2421 Roc 7889 show contact details
  src/main/features/dashboard/views/contact-them.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2421

#2378 ROC-7944 Reconsideration deadline change
  config/default.json
  src/main/app/claims/models/claim.ts
  src/test/app/claims/models/claim.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2378

#2415 Replacing h2 with h1 tag
  src/main/features/dashboard/views/defendant.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2415
