Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-04, with the labels that each got.

#2984 Allow claimants to notify breathing space has been entered online
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/dockertests.json
  config/mocha.json
  docker-compose.functional-tests.yml
  docker-compose.nightly-functional-tests.yml
  docker-compose.smoke-tests.yml
  src/integration-test/bootstrap/bootstrap.ts
  src/main/app.ts
  src/main/app/claims/claimStoreClient.ts
  src/main/app/claims/models/claimData.ts
  src/main/app/drafts/models/draftClaim.ts
  src/main/app/forms/validation/validators/isToday.ts
  src/main/app/utils/featureToggles.ts
  src/main/features/breathing-space/index.ts
  src/main/features/breathing-space/models/bsEndDate.ts
  src/main/features/breathing-space/models/bsReferenceNumber.ts
  src/main/features/breathing-space/models/bsStartDate.ts
  src/main/features/breathing-space/models/bsType.ts
  src/main/features/breathing-space/paths.ts
  src/main/features/breathing-space/routes/check-answers.ts
  src/main/features/breathing-space/routes/reference-number.ts
  src/main/features/breathing-space/routes/respite-end.ts
  src/main/features/breathing-space/routes/respite-start.ts
  src/main/features/breathing-space/routes/respite-type.ts
  src/main/features/breathing-space/views/check-answers.njk
  src/main/features/breathing-space/views/reference-number.njk
  src/main/features/breathing-space/views/respite-end.njk
  src/main/features/breathing-space/views/respite-start.njk
  src/main/features/breathing-space/views/respite-type.njk
  src/main/features/claim/form/models/breathingSpace.ts
  src/main/features/dashboard/routes/claimant.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/claimStatus/breathingSpace.njk
  src/test/a11y/a11y.ts
  src/test/app/claims/claimStoreClient.ts
  src/test/app/claims/models/claimData.ts
  src/test/app/forms/validation/validators/isToday.ts
  src/test/app/utils/featureToggles.ts
  src/test/data/draft/claimDraft.ts
  src/test/data/entity/claimData.ts
  src/test/features/breathing-space/models/breathingSpace.ts
  src/test/features/breathing-space/models/bsEndDate.ts
  src/test/features/breathing-space/models/bsReferenceNumber.ts
  src/test/features/breathing-space/models/bsStartDate.ts
  src/test/features/breathing-space/models/bsType.ts
  src/test/features/breathing-space/routes/bsType.ts
  src/test/features/breathing-space/routes/check-answers.ts
  src/test/features/breathing-space/routes/reference-number.ts
  src/test/features/breathing-space/routes/respite-end.ts
  src/test/features/breathing-space/routes/respite-start.ts
  tsconfig.json
  yarn-audit-known-issues
Labels: Prathap, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2984

#2998 ROC-8946: Issue CCJ request fix when defendant selects pay by set date
  src/main/features/ccj/routes/check-and-send.ts
  src/main/features/ccj/routes/paid-amount-summary.ts
  src/test/features/ccj/routes/check-and-send.ts
  src/test/features/ccj/routes/paid-amount-summary.ts
  src/test/http-mocks/claim-store.ts
Labels: QA - CMC, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2998

#2958 TA 561 States Paid (New)
  src/integration-test/tests/citizen/ccj/ccj_test.ts
  src/integration-test/tests/citizen/ccj/companyCCJ_test.ts
  src/integration-test/tests/citizen/ccj/organisation_test.ts
  src/integration-test/tests/citizen/ccj/pages/ccj-check-and-send.ts
  src/integration-test/tests/citizen/ccj/soleTraderCCJ_test.ts
  src/integration-test/tests/citizen/endToEnd/partAdmission_test.ts
  src/integration-test/tests/citizen/endToEnd/settleClaim_test.ts
  src/integration-test/tests/citizen/endToEnd/statesPaid_test.ts
Labels: QA - CMC, QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2958

#3006 Bump version
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3006

#2179 ROC-7513 Show correct full admission repayment amount after ccj
  src/main/common/helpers/ccjHelper.ts
  src/test/features/ccj/routes/repayment-plan-summary.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2179

#3008 Partial paid amount is deducted twice and showing incorrect payment amount on Repayment plan screen
  src/main/common/helpers/ccjHelper.ts
  src/test/features/ccj/routes/repayment-plan-summary.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3008

#3021 Rdm 12015 bumping ccd ver to 1.10.2
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3021

#3025 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3025

#3018 Fix for Incorrect court used in defendant response
  src/main/features/directions-questionnaire/routes/hearing-location.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3018

#3032 Bumping ccd version to 1.10.3
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3032

#3001 changes for mediation enhancements
  config/development.json
  src/integration-test/tests/citizen/claimantResponse/part_admission_test.ts
  src/main/features/claimant-response/views/confirmation.njk
  src/main/features/dashboard/views/macro/claimStatus/claimRejected.njk
  src/main/features/dashboard/views/macro/claimStatus/partAdmitRejectionDefendant.njk
  src/main/features/dashboard/views/macro/claimStatus/statesPaidRejected.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3001

#3019 Feature/roc 8941 removed hwf interest
  src/main/app/claims/models/claim-states/initial-states.ts
  src/main/features/dashboard/claims-state-machine/initial-transitions.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/caseStatus.njk
  src/main/features/dashboard/views/macro/claimStatus/helpWithFees.njk
  src/main/features/dashboard/views/status/claimant/help-with-fess-intrest-recalculated.njk
  src/test/features/dashboard/claims-state-machine/initial-transitions.ts
Labels: help-with-fees, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3019

#2594 Feature/roc 8332 webchat antenna
  .gitignore
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/mocha.json
  gulpfile.js
  src/main/app.ts
  src/main/app/paths.ts
  src/main/app/utils/featureToggles.ts
  src/main/modules/helmet/modules/contentSecurityPolicy.ts
  src/main/public/assets/locale/locale_en-GB.json
  src/main/public/js/antenna-webchat-toggle.js
  src/main/public/stylesheets/application.scss
  src/main/public/stylesheets/components/_antenna_webchat.scss
  src/main/public/stylesheets/components/_colours.scss
  src/main/routes/web-chat.ts
  src/main/views/contact-us.njk
  src/main/views/govukTemplate.njk
  src/main/views/includes/scripts.njk
  src/main/views/macro/support.njk
  src/main/views/web-chat.njk
  src/test/a11y/a11y.ts
  src/test/app/utils/featureToggles.ts
Labels: Prathap, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2594

#3037 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3037

#3038 Fixing the production page not found issue
  src/main/modules/helmet/modules/contentSecurityPolicy.ts
Labels: OCMC-PET-TEAM, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3038, tested locally
