Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-08, with the labels that each got.

#3218 fortify scan changes
  Jenkinsfile_nightly
  package.json
  src/test/java/.gitignore
  src/test/java/build.gradle
  src/test/java/config/fortify-client.properties
  src/test/java/gradle/wrapper/gradle-wrapper.jar
  src/test/java/gradle/wrapper/gradle-wrapper.properties
  src/test/java/gradlew
  src/test/java/gradlew.bat
  src/test/java/settings.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3218

#3217 Functional test cases for part admit scenarios
  src/integration-test/tests/citizen/claimantResponse/part_admission_defendant_is_business_test.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/steps/directionsQuestionnaireSteps.ts
  src/integration-test/tests/citizen/endToEnd/fullAdmission_test.ts
  src/integration-test/tests/citizen/home/steps/defendant.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3217

#3228 bump ccd version
  Jenkinsfile_CNP
  charts/cmc-citizen-frontend/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3228

#3231 bumb ccd version
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3231

#3235 feature/ROC-9372 updating email content
  src/main/features/dashboard/views/macro/claimStatus/helpWithFees.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3235

#3243 Bump version
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3243

#3250 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3250
