Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-05, with the labels that each got.

#3051 Fix pipeline - disable MTA healthcheck
  charts/cmc-citizen-frontend/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3051

#3027 Fix/roc 9006 sonar issues
  src/main/app/claims/models/settlement.ts
  src/main/app/utils/tokenGenerator.ts
  src/test/app/claims/claimModelConverter.ts
  src/test/app/claims/responseModelConverter.ts
Labels: OCMC-PET-TEAM, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3027

#3050 enhanced-mediation-journey-integration-tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/integration-test/tests/citizen/claimantResponse/steps/claimant-reponse.ts
  src/integration-test/tests/citizen/claimantResponse/steps/defendant.ts
  src/integration-test/tests/citizen/defence/steps/defence.ts
  src/integration-test/tests/citizen/home/steps/defendant.ts
  src/integration-test/tests/citizen/mediation/steps/enhancedMediation.ts
  src/integration-test/tests/citizen/mediation/steps/mediation.ts
  src/test/app/claims/responseModelConverter.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3050

#3042 ROC-9059 : Initial PR env setup
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  charts/cmc-citizen-frontend/values.yaml
Labels: Draft, QA - CMC, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3042

#3007 replace get user to openid endpoint
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/app/idam/idamClient.ts
  src/test/http-mocks/idam.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3007

#3057 Yarn audit fix
  package.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3057

#3070 RDM-12394-bumping-ccd-ver-to-1.10.5
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3070

#3052 Update to statement of means allowance
  src/main/resources/meansAllowance.json
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3052

#3081 New claim fees changes
  charts/cmc-citizen-frontend/values.preview.template.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/dockertests.json
  config/mocha.json
  src/integration-test/data/test-data.ts
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/steps/claim.ts
  src/integration-test/tests/citizen/claimantResponse/steps/claimant-reponse.ts
  src/integration-test/tests/citizen/endToEnd/defence_test.ts
  src/main/app/fees/feesClient.ts
  src/main/app/utils/featureToggles.ts
  src/main/features/claim/helpers/feesTableViewHelper.ts
  src/main/features/claim/routes/total.ts
  src/main/features/claim/views/total.njk
  src/main/features/response/routes/eligibility/send-your-response-by-email.ts
  src/test/a11y/mocks.ts
  src/test/app/utils/featureToggles.ts
  src/test/features/claim/helpers/feesTableViewHelper.ts
  src/test/features/claim/routes/check-and-send.ts
  src/test/features/claim/routes/total.ts
  src/test/features/response/routes/counter-claim.ts
  src/test/features/response/routes/eligibility/send-your-response-by-email.ts
  src/test/http-mocks/fees.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3081

#3087 Update values.preview.template.yaml with adminweb ingress
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3087

#3109 Updated the Availability status messages
  src/main/public/js/antenna-webchat-toggle.js
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3109

#3101 Feature/cookies banner
  gulpfile.js
  package-lock.json
  package.json
  src/main/modules/helmet/modules/contentSecurityPolicy.ts
  src/main/public/js/analytics-custom-event-sender.js
  src/main/public/js/analytics.js
  src/main/views/cookies.njk
  src/main/views/govukTemplate.njk
  src/main/views/includes/scripts.njk
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3101
