Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-01, with the labels that each got.

#2740 consolidate bot prs
  src/integration-test/tests/citizen/claim/steps/payment.ts
  src/test/features/paid-in-full/routes/date-paid.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2740

#2696 Feature/roc 8031 hwf validation
  src/main/features/claim/form/models/helpWithFees.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2696, stale

#2698 Feature/dashboard pagination
  config/custom-environment-variables.json
  src/main/app/claims/claimStoreClient.ts
  src/main/features/dashboard/helpers/paginationBuilder.ts
  src/main/features/dashboard/routes/index.ts
  src/main/features/dashboard/views/index.njk
  src/main/features/dashboard/views/macro/pagination/macro.njk
  src/main/public/stylesheets/application.scss
  src/main/public/stylesheets/components/_colours.scss
  src/main/public/stylesheets/components/_pagination.scss
  src/main/routes/receiver.ts
  src/test/data/entity/pagination.ts
  src/test/features/dashboard/helpers/paginationBuilder.ts
  src/test/features/dashboard/routes/claimStatus/full-admission.ts
  src/test/features/dashboard/routes/claimStatus/part-admission.ts
  src/test/features/dashboard/routes/dashboard/ccj.ts
  src/test/features/dashboard/routes/dashboard/claim-issue.ts
  src/test/features/dashboard/routes/dashboard/full-admission.ts
  src/test/features/dashboard/routes/dashboard/full-defence.ts
  src/test/features/dashboard/routes/dashboard/orders.ts
  src/test/features/dashboard/routes/dashboard/part-admission.ts
  src/test/features/dashboard/routes/dashboard/settlement.ts
  src/test/features/dashboard/routes/dashboard/states-paid.ts
  src/test/features/dashboard/routes/index.ts
  src/test/http-mocks/claim-store.ts
  src/test/routes/receiver.ts
  types/integration-test-model.d.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2698

#2756 Functional test/dummy branch
  README.md
  config/default.json
  config/development.json
  config/dockertests.json
  src/main/features/dashboard/routes/index.ts
  src/main/routes/receiver.ts
  src/test/features/dashboard/routes/index.ts
  src/test/routes/receiver.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2756

#2761 Feature/roc 8665 functional test case
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  config/default.json
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/steps/claim.ts
  src/main/features/dashboard/claims-state-machine/initial-transitions.ts
  src/test/features/dashboard/claims-state-machine/initial-transitions.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2761

#2764 Bump version to 1.8.9
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2764

#2768 Bump CCD Version as part of HWF deployment
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2768

#2606 ROC-8566 : Fixing code smell issues reported in citizen frontend
  src/main/app/claims/claimStoreClient.ts
  src/main/app/claims/converters/claimantResponseConverter.ts
  src/main/app/claims/models/settlement.ts
  src/main/app/claims/responseModelConverter.ts
  src/main/app/common/allowances/allowance.ts
  src/main/features/ccj/form/models/paidAmount.ts
  src/main/features/ccj/guards/ccjGuard.ts
  src/main/features/ccj/routes/check-and-send.ts
  src/main/features/ccj/routes/paid-amount.ts
  src/main/features/claim/form/models/interestRate.ts
  src/main/features/claimant-response/filters/monthly-amount-view-filter.ts
  src/main/features/claimant-response/helpers/directionsQuestionnaireHelper.ts
  src/main/features/claimant-response/tasks/detailsInCaseOfHearingTask.ts
  src/main/features/offer/routes/response.ts
  src/main/features/response/routes/statement-of-means/priority-debts.ts
  src/main/features/response/tasks/detailsInCaseOfHearingTask.ts
  src/main/modules/i18n/backend.ts
  src/main/modules/nunjucks/filters/convertToPounds.ts
  src/test/app/claims/converters/claimantResponseConverter.ts
  src/test/data/entity/responseData.ts
  src/test/features/claimant-response/helpers/directionsQuestionnaireHelper.ts
  src/test/features/offer/routes/response.ts
  src/test/features/response/routes/statement-of-means/priority-debt.ts
  src/test/features/response/tasks/detailsInCaseOfHearingTask.ts
  src/test/http-mocks/claim-store.ts
  src/test/modules/i18n/backend.ts
  src/test/modules/i18n/fixtures/invalid_translation.po
Labels: OCMC-PET-TEAM, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2606

#2765 Feature/ROC-8744 HWF dashboards
  config/default.json
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/claimStatus/helpWithFees.njk
  src/test/features/dashboard/routes/claimStatus/claim-issue.ts
  src/test/features/dashboard/routes/dashboard/claim-issue.ts
Labels: help-with-fees, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2765

#2762 Dashboard - HwF "More Info Required"
  config/default.json
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/steps/claim.ts
  src/main/app/claims/models/claimData.ts
  src/main/features/dashboard/claims-state-machine/initial-transitions.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/claimStatus/helpWithFees.njk
  src/test/features/dashboard/claims-state-machine/initial-transitions.ts
  src/test/features/dashboard/routes/claimStatus/claim-issue.ts
  src/test/features/dashboard/routes/dashboard/claim-issue.ts
Labels: Prathap, help-with-fees, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2762

#2770 HWF Handler : Enable the Help with fees test cases in all the lower environment
  config/default.json
  default.conf.js
  src/integration-test/helpers/hwfHelper.js
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/steps/claim.ts
  src/main/app/claims/models/claimData.ts
  src/main/features/dashboard/claims-state-machine/initial-transitions.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/claimStatus/helpWithFees.njk
  src/test/features/dashboard/claims-state-machine/initial-transitions.ts
  src/test/features/dashboard/routes/claimStatus/claim-issue.ts
  src/test/features/dashboard/routes/dashboard/claim-issue.ts
  types/steps-override.d.ts
Labels: Prathap, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2770

#2769 Fix : Sensitive data is being logged in CMC in citizen frontend
  default.conf.js
  src/integration-test/helpers/hwfHelper.js
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/steps/claim.ts
  src/main/app/logging/apiLogger.ts
  src/main/features/claim/routes/finish-payment.ts
  types/steps-override.d.ts
Labels: Prathap, help-with-fees, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2769, security

#2771 Feature/roc 8622 updated defence form
  src/main/features/response/views/eligibility/send-your-response-by-email.njk
  src/main/public/pdf/N9B.pdf
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2771
