Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-02, with the labels that each got.

#2782 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2782

#2784 TA-365 & TA-366 & TA-367 & TA-368 & TA-390: Upgrade crossbrowser dependencies, config, and supported browsers list
  Jenkinsfile_nightly
  default.conf.js
  package.json
  saucelabs.conf.js
  src/integration-test/crossbrowser/supportedBrowsers.js
  src/integration-test/helpers/saucelabsReporter.js
  yarn.lock
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2784

#2785 Update Help with fees number dashboard
  src/integration-test/config/proxy-settings.ts
  src/integration-test/helpers/clients/idamClient.ts
  src/main/features/dashboard/claims-state-machine/initial-transitions.ts
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/caseStatus.njk
  src/main/features/dashboard/views/macro/claimStatus/helpWithFees.njk
  src/test/features/dashboard/claims-state-machine/initial-transitions.ts
Labels: Prathap, help-with-fees, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2785

#2827 update nightly build timing
  Jenkinsfile_nightly
Labels: OCMC-PET-TEAM

#2835 Content updates to HwF Citizen UI post review of HMCTS Judges
  src/main/features/eligibility/views/help-with-fees-reference.njk
  src/main/features/eligibility/views/help-with-fees.njk
  src/test/features/eligibility/routes/help-with-fees.ts
Labels: Prathap, help-with-fees, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2835

#2838 Fix/upgrade helm charts to latest
  .nvmrc
  Jenkinsfile_nightly
  README.md
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/main.tf
  package.json
  renovate.json
  yarn.lock
Labels: Prathap, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2838

#2777 [Snyk] Upgrade launchdarkly-node-server-sdk from 5.11.3 to 5.13.4
  package.json
  yarn.lock
Labels: OCMC-PET-TEAM, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2777

#2778 [Snyk] Upgrade js-base64 from 2.5.1 to 2.6.4
  package.json
  yarn.lock
Labels: OCMC-PET-TEAM, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2778

#2779 [Snyk] Upgrade @types/lodash from 4.14.161 to 4.14.167
  yarn.lock
Labels: OCMC-PET-TEAM, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2779

#2845 Ta 457 claimant help with fee e2 e
  default.conf.js
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/helpWithFees_test.ts
  src/integration-test/tests/citizen/offers/offers_test.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2845

#2850 TA-454-Interlocutory-JudgementE2E
  src/integration-test/tests/citizen/claimantResponse/full_admission_test.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2850

#2840 TA-369: Run crossbrowser tests on chrome
  charts/cmc-citizen-frontend/values.preview.template.yaml
  package.json
  saucelabs.conf.js
  src/integration-test/tests/citizen/endToEnd/endToend_test.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2840

#2852 TA-370: Run crossbrowser tests on Firefox
  Jenkinsfile_nightly
  bin/run-crossbrowser-tests.sh
  package.json
  src/integration-test/bootstrap/bootstrap.ts
  src/integration-test/bootstrap/teardown.ts
  src/integration-test/helpers/pcqHelper.js
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2852

#2855 TA-371 & TA-373: Run crossbrowser tests on Edge and Safari
  bin/run-crossbrowser-tests.sh
  saucelabs.conf.js
  src/integration-test/crossbrowser/supportedBrowsers.js
  src/integration-test/helpers/SauceLabsBrowserHelper.js
  src/integration-test/helpers/pageHelper.js
  src/integration-test/tests/citizen/defence/pages/defendant-check-and-send.ts
  src/integration-test/tests/citizen/defence/pages/defendant-defence-type.ts
  src/integration-test/tests/citizen/defence/pages/defendant-dob.ts
  src/integration-test/tests/citizen/defence/pages/defendant-enter-claim-reference.ts
  src/integration-test/tests/citizen/defence/pages/defendant-evidence.ts
  src/integration-test/tests/citizen/defence/pages/defendant-more-time-confirmation.ts
  src/integration-test/tests/citizen/defence/pages/defendant-more-time-request.ts
  src/integration-test/tests/citizen/defence/pages/defendant-name-and-address.ts
  src/integration-test/tests/citizen/defence/pages/defendant-phone.ts
  src/integration-test/tests/citizen/defence/pages/defendant-reject-all-of-claim.ts
  src/integration-test/tests/citizen/defence/pages/defendant-start.ts
  src/integration-test/tests/citizen/defence/pages/defendant-task-list.ts
  src/integration-test/tests/citizen/defence/pages/defendant-timeline-events.ts
  src/integration-test/tests/citizen/defence/pages/defendant-your-defence.ts
  src/integration-test/tests/citizen/defence/steps/defence.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/expert-reports.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/hearing-dates.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/hearing-exceptional-circumstances.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/hearing-location.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/other-wtiness.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/self-witness.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/support-required.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/using-expert.ts
  src/integration-test/tests/citizen/endToEnd/steps/helper.ts
  src/integration-test/tests/citizen/home/pages/login.ts
  src/integration-test/tests/citizen/mediation/pages/can-we-use-company.ts
  src/integration-test/tests/citizen/mediation/pages/can-we-use.ts
  src/integration-test/tests/citizen/mediation/pages/free-mediation.ts
  src/integration-test/tests/citizen/mediation/pages/how-mediation-works.ts
  src/integration-test/tests/citizen/mediation/pages/mediation-agreement.ts
  src/integration-test/tests/citizen/mediation/pages/try-free-mediation.ts
  src/integration-test/tests/citizen/mediation/pages/will-you-try-mediation.ts
  types/steps-override.d.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2855
