Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-09, with the labels that each got.

#3252 Feature/nightly fix
  src/integration-test/tests/citizen/directionsQuestionnaire/steps/directionsQuestionnaireSteps.ts
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3252

#3255 Post code look up changes
  package.json
  src/main/app/forms/validation/validators/isCountrySupported.ts
  src/main/app/postcode-lookup/postcodeToCountryClient.ts
  src/main/routes/postcode-lookup.ts
  src/test/data/entity/mockCountryLookupResponse.ts
  src/test/data/entity/mockPostcodeLookupResponse.ts
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3255

#3259 bump ccd version
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3259

#3244 Feature/roc 9365 hwf fee code
  src/main/app/claims/claimModelConverter.ts
  src/main/app/claims/models/claimData.ts
  src/main/app/drafts/models/draftClaim.ts
  src/main/app/fees/feesClient.ts
  src/main/features/claim/routes/check-and-send.ts
  src/test/app/claims/models/claimData.ts
  src/test/features/claim/routes/check-and-send.ts
  src/test/http-mocks/fees.ts
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3244

#3254 Featuer/roc 9406 court finder api frontend
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/app/court-finder/court.ts
  src/main/app/court-finder/courtFinderClient.ts
  src/main/features/directions-questionnaire/helpers/hearingLocationsHelper.ts
  src/test/app/court-finder/courtFinderClient.ts
  src/test/features/directions-questionnaire/routes/hearing-location.ts
  src/test/http-mocks/court-finder-client.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3254

#3262 dependency suppressed
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3262

#3266 bump ccd definition importer to 1.10.20
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3266
