Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-07, with the labels that each got.

#3164 Feature/roc 9233 mediation itp
  src/integration-test/tests/citizen/claimantResponse/part_admission_test.ts
  src/main/features/dashboard/views/macro/claimStatus/claimRejected.njk
  src/main/features/dashboard/views/macro/claimStatus/claimantResponse.njk
  src/main/features/dashboard/views/macro/claimStatus/partAdmitRejectionClaimant.njk
  src/main/features/dashboard/views/macro/claimStatus/partAdmitRejectionDefendant.njk
  src/main/features/dashboard/views/macro/claimStatus/statesPaidRejected.njk
  src/main/features/dashboard/views/macro/claimStatus/utilityMacros.njk
  src/test/features/dashboard/routes/claimStatus/full-defence.ts
  src/test/features/dashboard/routes/claimStatus/part-admission.ts
  src/test/features/dashboard/routes/claimStatus/states-paid.ts
  src/test/features/dashboard/routes/dashboard/part-admission.ts
  src/test/features/dashboard/routes/dashboard/states-paid.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3164

#3163 feature/ROC-9116-dashboard-update updated ccj page
  src/main/features/ccj/views/confirmation-ccj.njk
  src/main/features/dashboard/views/macro/claimStatus/ccjRequested.njk
  src/test/features/ccj/routes/confirmation-ccj.ts
  src/test/features/dashboard/routes/claimStatus/ccj.ts
  src/test/features/dashboard/routes/dashboard/ccj.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3163

#3169 fix nightly
  src/integration-test/tests/citizen/claimantResponse/part_admission_defendant_is_business_test.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3169

#3174 environment sync up
  Jenkinsfile_CNP
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3174

#3178 Update courtFinderClient.ts
  src/main/app/court-finder/courtFinderClient.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3178

#3175 Feature/roc 9192 nightly fix
  default.conf.js
  src/integration-test/tests/citizen/claimantResponse/part_admission_defendant_is_business_test.ts
  src/integration-test/tests/citizen/endToEnd/fullAdmission_test.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3175

#3184 Ccd release bump version
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3184

#3185 Feature/roc 9306 master bot pr
  charts/cmc-citizen-frontend/Chart.yaml
  package.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3185

#3186 Remove auto enrol feature flag
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/dockertests.json
  config/mocha.json
  src/main/app/utils/featureToggles.ts
  src/main/features/claim/guards/newFeaturesConsentGuard.ts
  src/main/features/claim/helpers/featuresBuilder.ts
  src/main/features/claim/paths.ts
  src/main/features/claim/routes/check-and-send.ts
  src/main/features/claim/routes/finish-payment.ts
  src/main/features/claim/routes/new-features-consent.ts
  src/main/features/claim/routes/pay.ts
  src/main/features/claim/routes/task-list.ts
  src/main/features/claim/views/new-features-consent.njk
  src/main/features/testing-support/routes/create-claim-draft.ts
  src/test/app/utils/featureToggles.ts
  src/test/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/routes/check-and-send.ts
  src/test/features/claim/routes/finish-payment.ts
  src/test/features/claim/routes/new-features-consent.ts
  src/test/features/claim/routes/pay.ts
  src/test/features/claim/routes/task-list.ts
  src/test/features/testing-support/create-claim-draft.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3186

#3200 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3200

#3201 Feature/roc 8884 ocon deadline changes
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/mocha.json
  src/main/app/utils/featureToggles.ts
  src/main/features/response/helpers/taskListBuilder.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3201

#3205 Web-chat pointing to production web-client with additional user parameter
  src/main/views/macro/support.njk
  src/main/views/web-chat.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3205

#3213 Update values.preview.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3213
