Repository hmcts/cmc-citizen-frontend, pull requests merged in 2021-03, with the labels that each got.

#2873 Update state.tf
  charts/cmc-citizen-frontend/values.preview.template.yaml
  infrastructure/state.tf
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2873

#2857 Bug/roc 8820 mediation
  src/main/features/claimant-response/views/check-and-send.njk
  src/main/features/mediation/routes/mediation-disagreement.ts
  src/test/features/mediation/routes/mediation-disagreement.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2857

#2881 E2E Refactor: Unique test user creation (fresh PR)
  default.conf.js
  saucelabs.conf.js
  src/integration-test/bootstrap/bootstrap.ts
  src/integration-test/bootstrap/teardown.ts
  src/integration-test/crossbrowser/supportedBrowsers.js
  src/integration-test/data/test-data.ts
  src/integration-test/helpers/claimStoreHelper.ts
  src/integration-test/helpers/idamHelper.ts
  src/integration-test/helpers/pageHelper.js
  src/integration-test/tests/citizen/ccj/ccj_test.ts
  src/integration-test/tests/citizen/ccj/steps/ccj.ts
  src/integration-test/tests/citizen/claim/enterDetails_test.ts
  src/integration-test/tests/citizen/claim/helpWithFees_test.ts
  src/integration-test/tests/citizen/claim/pages/claimant-check-and-send.ts
  src/integration-test/tests/citizen/claim/steps/claim.ts
  src/integration-test/tests/citizen/claim/steps/payment.ts
  src/integration-test/tests/citizen/claimantResponse/part_admission_defendant_is_business_test.ts
  src/integration-test/tests/citizen/claimantResponse/part_admission_test.ts
  src/integration-test/tests/citizen/claimantResponse/steps/defendant.ts
  src/integration-test/tests/citizen/dashboard/dashboard_test.ts
  src/integration-test/tests/citizen/defence/data/DefenceTest.ts
  src/integration-test/tests/citizen/defence/defence_handoff_test.ts
  src/integration-test/tests/citizen/defence/full_admission_test.ts
  src/integration-test/tests/citizen/defence/part_admission_test.ts
  src/integration-test/tests/citizen/defence/steps/defence.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/pages/hearing-dates.ts
  src/integration-test/tests/citizen/directionsQuestionnaire/steps/directionsQuestionnaireSteps.ts
  src/integration-test/tests/citizen/endToEnd/data/EndToEndTestData.ts
  src/integration-test/tests/citizen/endToEnd/defence_test.ts
  src/integration-test/tests/citizen/endToEnd/endToend_test.ts
  src/integration-test/tests/citizen/endToEnd/steps/helper.ts
  src/integration-test/tests/citizen/govukAccessRoutes/respondToClaim_test.ts
  src/integration-test/tests/citizen/govukAccessRoutes/returnToClaim_test.ts
  src/integration-test/tests/citizen/home/steps/defendant.ts
  src/integration-test/tests/citizen/home/steps/user.ts
  src/integration-test/tests/citizen/offers/offers_test.ts
  src/integration-test/tests/citizen/testingSupport/testingSupport_test.ts
  types/steps-override.d.ts
  types/steps.d.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2881

#2887 TA-489-Offers Additional Tests
  default.conf.js
  src/integration-test/tests/citizen/offers/offers_test.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2887

#2894 TA-508: Limit cross browser tests to single end to end journey on cmc
  src/integration-test/tests/citizen/offers/offers_test.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2894

#2907 TA 514 Part Admission Business E2E (New)
  src/integration-test/tests/citizen/claimantResponse/part_admission_defendant_is_business_test.ts
  src/integration-test/tests/citizen/claimantResponse/part_admission_test.ts
  src/integration-test/tests/citizen/endToEnd/fullAdmission_test.ts
  src/integration-test/tests/citizen/endToEnd/partAdmission_test.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2907

#2926 TA 542 Claimant Settle Claim Pay Immediately( new)
  src/integration-test/tests/citizen/claimantResponse/full_admission_test.ts
  src/integration-test/tests/citizen/endToEnd/settleClaim_test.ts
  src/integration-test/tests/citizen/govukAccessRoutes/govUKAccess_test.ts
  src/integration-test/tests/citizen/govukAccessRoutes/respondToClaim_test.ts
  src/integration-test/tests/citizen/govukAccessRoutes/returnToClaim_test.ts
Labels: QA Automation, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2926

#2927 TA-517-Full Defence E2E & Claimant Stop The Claim E2E
  src/integration-test/tests/citizen/defence/defence_handoff_test.ts
  src/integration-test/tests/citizen/endToEnd/defence_test.ts
  src/integration-test/tests/citizen/endToEnd/fullDefence_test.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2927

#2929 Ensure CCJ link appears for any Hwf Cases after 19 days from HwF-Claim Issue event
  charts/cmc-citizen-frontend/Chart.yaml
  src/integration-test/tests/citizen/claim/helpWithFees_test.ts
  src/main/app/claims/models/claim.ts
  src/main/features/dashboard/views/claimant.njk
  src/main/features/dashboard/views/macro/caseHistory.njk
  src/main/features/dashboard/views/macro/caseStatus.njk
  src/main/features/response/views/claim-details.njk
  src/main/views/macro/amountBreakdown.njk
  yarn.lock
Labels: Prathap, help-with-fees, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2929

#2955 Fix/cves yarn audit
  charts/cmc-citizen-frontend/Chart.yaml
  package.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2955

#2956 fixed cves from rpe dashboard
  package.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2956

#2964 fix/ROC-8834-Paper-DQ-feature
  src/main/features/claim/helpers/featuresBuilder.ts
  src/test/features/claim/helpers/featuresBuilder.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2964

#2975 OCMC Improvements PI21 Sprint - 2
  .dockerignore
  charts/cmc-citizen-frontend/Chart.yaml
  src/main/features/claim/views/claimant-company-details.njk
  src/main/features/claim/views/claimant-individual-details.njk
  src/main/features/claim/views/claimant-organisation-details.njk
  src/main/features/claim/views/claimant-phone.njk
  src/main/features/claim/views/claimant-sole-trader-details.njk
  src/main/features/claim/views/evidence.njk
  src/main/features/claim/views/total.njk
  src/main/features/dashboard/views/index.njk
  src/main/features/response/views/evidence.njk
  src/main/features/response/views/your-details.njk
  src/main/features/response/views/your-phone.njk
  src/main/views/macro/interestCalculation.njk
  src/main/views/macro/party/details.njk
  yarn.lock
Labels: Prathap, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2975

#2963 bump the version for ccd release
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2963

#2980 bump version
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2980

#2962 fronend master bot PR
  charts/cmc-citizen-frontend/Chart.yaml
  package.json
  src/main/modules/helmet/index.ts
  src/main/modules/helmet/modules/contentSecurityPolicy.ts
  src/main/modules/helmet/modules/httpPublicKeyPinning.ts
  yarn.lock
Labels: OCMC-PET-TEAM, ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-2962
