Repository hmcts/cmc-citizen-frontend, pull requests merged in 2022-08, with the labels that each got.

#3420 Fix pipelines for PRs on frontend
  Jenkinsfile_CNP
  README.md
  bin/import-ccd-definition.sh
  bin/variables/load-preview-env-variables.sh
  charts/cmc-citizen-frontend/values.preview.template.yaml
  docker-compose.functional-tests.yml
  docker-compose.nightly-functional-tests.yml
  docker-compose.smoke-tests.yml
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3420

#3425 update preview to use claim-store master
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3425

#3426 fix master pipeline
  src/test/a11y/a11y.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3426

#3423 CIV:3506: add retain and dispose clause to privacy policy page
  src/main/views/privacy-policy.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3423

#3429 Civ 1827 update node v14
  .github/workflows/push.yml
  .nvmrc
  Dockerfile
  README.md
  integration-tests.Dockerfile
  package.json
  src/test/app/claims/models/claim.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3429
