Repository hmcts/cmc-citizen-frontend, pull requests merged in 2022-02, with the labels that each got.

#3311 CIV-512: Added hearing duration field
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/app/claims/models/hearingDurationType.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3311

#3321 Update definition importer to the latest version
  charts/cmc-citizen-frontend/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3321

#3329 Fix PR builds - case management web is deprecated as xui is in use
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3329

#3312 Civ 669 : updated dependencies security
  gulpfile.js
  package-lock.json
  package.json
  src/main/app.ts
  src/main/app/fees/feesClient.ts
  src/main/app/forms/validation/formValidator.ts
  src/main/common/components/payment-intention/payment-date.ts
  src/main/common/components/payment-intention/payment-option.ts
  src/main/common/components/payment-intention/payment-plan.ts
  src/main/features/ccj/routes/repayment-plan.ts
  src/main/features/claim/guards/claimEligibilityGuard.ts
  src/main/features/claimant-response/guards/claimantResponseGuard.ts
  src/main/features/directions-questionnaire/routes/name-results.ts
  src/main/routes/payment-plan-calculation.ts
  src/main/routes/postcode-lookup.ts
  src/main/routes/receiver.ts
  src/test/app/forms/validation/formValidator.ts
  src/test/features/claimant-response/guards/claimantResponseGuard.ts
  tslint.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3312

#3332 Disable security scan until reform fix it
  Jenkinsfile_nightly
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3332
