Repository hmcts/cmc-citizen-frontend, pull requests merged in 2022-04, with the labels that each got.

#3371 New pr for civ 1795
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/views/macro/support.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3371

#3369 CIV-464 : Light Refactor and Resolved NPEs
  .gitignore
  src/main/app/claims/ccjModelConverter.ts
  src/main/app/claims/claimModelConverter.ts
  src/main/app/claims/converters/claimantResponseConverter.ts
  src/main/app/claims/responseModelConverter.ts
  src/main/app/common/allowances/allowance.ts
  src/main/app/common/allowances/allowanceCalculations.ts
  src/main/app/common/payment-plan/paymentPlan.ts
  src/main/app/common/statement-of-means/statementOfMeansCalculations.ts
  src/main/app/idam/authorizationMiddleware.ts
  src/main/app/logging/apiLogger.ts
  src/main/app/mocks/mockPayClient.ts
  src/main/app/pay/payClient.ts
  src/main/app/utils/pcqClient.ts
  src/main/app/utils/taskStatus.ts
  src/main/common/components/payment-intention/payment-option.ts
  src/main/common/helpers/courtOrderHelper.ts
  src/main/common/utils/isCCBCCaseReference.ts
  src/main/features/breathing-space/routes/lift-scheme.ts
  src/main/features/ccj/routes/redetermination.ts
  src/main/features/ccj/routes/repayment-plan-summary.ts
  src/main/features/claimant-response/helpers/taskListBuilder.ts
  src/main/features/dashboard/helpers/paginationBuilder.ts
  src/main/features/eligibility/paths.ts
  src/main/features/eligibility/routes/help-with-fees.ts
  src/main/features/eligibility/routes/information-about-help-with-fees.ts
  src/main/features/offer/routes/your-offer.ts
  src/main/features/response/helpers/taskListBuilder.ts
  src/main/features/response/routes/free-mediation.ts
  src/main/routes/receiver.ts
  src/main/services/draftService.ts
  src/test/features/eligibility/routes/help-with-fees.ts
  src/test/features/eligibility/routes/information-about-help-with-fees.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3369

#3373 CIV-464 : medium refactor for sonar issues
  .sass-lint.yml
  package.json
  sonar-project.properties
  src/main/app/claims/models/settlement.ts
  src/main/app/claims/responseModelConverter.ts
  src/main/app/common/allowances/allowance.ts
  src/main/app/common/allowances/allowanceCalculations.ts
  src/main/common/router/routerFinder.ts
  src/main/features/response/form/models/statementOfTruth.ts
  src/main/features/response/routes/your-dob.ts
  src/test/common/momentFactory.ts
  src/test/features/response/form/models/statement-of-means/expenseSource.ts
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3373

#3365 CIV-1168 : update hearing duration type
  src/main/app/claims/models/hearingDurationType.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3365

#3376 CIV-1924 : resolved security vulnerabilities
  src/main/routes/monthly-income-expense-calculation.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3376

#3375 CIV-1922 : resolved issue DOM text reinterpreted as HTML
  package.json
  src/main/public/js/show-hide-content-patched.js
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3375
