Repository hmcts/cmc-citizen-frontend, pull requests merged in 2023-04, with the labels that each got.

#3529 Civ 446
  charts/cmc-citizen-frontend/Chart.yaml
  package.json
  src/main/app.ts
  src/main/routes/google-tag-manager.ts
  src/main/views/govukTemplate.njk
  yarn-audit-known-issues
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3529

#3525 CIV-7327: Upgrade to yarn version 3
  .dockerignore
  .github/workflows/push.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  Dockerfile
  charts/cmc-citizen-frontend/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3525

#3510 CIV-490 Fees keyword changes with feature flag
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/dockertests.json
  config/mocha.json
  src/integration-test/tests/citizen/claim/helpWithFees_test.ts
  src/main/app/fees/feesClient.ts
  src/main/app/utils/featureToggles.ts
  src/main/features/claim/routes/check-and-send.ts
  src/test/app/fees/getKeyword.ts
  src/test/app/utils/featureToggles.ts
  src/test/http-mocks/fees.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3510

#3536 update content security policy to allow google tagging
  src/main/modules/helmet/modules/contentSecurityPolicy.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3536

#3543 CIV-8037: Opt-in support for valid certificate available in preview
  Jenkinsfile_CNP
  bin/variables/load-preview-env-variables.sh
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3543

#3544 CIV-8037 - Amend DNS Zones
  bin/variables/load-preview-env-variables.sh
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  charts/cmc-citizen-frontend/values.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3544

#3550 Fix master pipelines
  src/integration-test/bootstrap/bootstrap.ts
  src/integration-test/bootstrap/teardown.ts
  src/integration-test/helpers/clients/idamClient.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3550

#3554 Fix/civ 8219
  src/integration-test/bootstrap/bootstrap.ts
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3554

#3548 CIV-8159: May Bank Holiday Opening Hours
  charts/cmc-citizen-frontend/values.preview.template.yaml
  src/main/views/macro/support.njk
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3548
