Repository hmcts/cmc-citizen-frontend, pull requests merged in 2023-01, with the labels that each got.

#3483 CIV-6620: Move to java postgresql from bitnami
  Jenkinsfile_CNP
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  charts/cmc-citizen-frontend/values.yaml
  src/integration-test/tests/citizen/claim/steps/payment.ts
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3483

#3486 fix for cve issue CVE-2022-33987
  package-lock.json
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3486

#3491 bump ccd charts version
  charts/cmc-citizen-frontend/Chart.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3491
