Repository hmcts/cmc-citizen-frontend, pull requests merged in 2024-09, with the labels that each got.

#3688 DTSCCI-242: Add environment variable to enable user token caching
  charts/cmc-citizen-frontend/values.aat.template.yaml
  charts/cmc-citizen-frontend/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3688

#3691 DTSCCI-876 - Update regexp
  package.json
  yarn.lock
Labels: ns:money-claims, prd:cmc, rel:cmc-citizen-frontend-pr-3691

#3694 Dtscci 833 login again banner
  src/main/features/dashboard/views/banner/banner-claim-threshold.njk
  src/main/features/dashboard/views/index.njk
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, enable_keep_helm, rel:cmc-citizen-frontend-pr-3694

#3689 DTSCCI-840 disable eligibility and creation pages for R2
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  src/main/app.ts
  src/main/features/dashboard/views/index.njk
Labels: ns:money-claims, prd:cmc, enable_keep_helm, rel:cmc-citizen-frontend-pr-3689

#3703 DTSCCI-135 redirect to CUI
  Jenkinsfile_CNP
  charts/cmc-citizen-frontend/Chart.yaml
  charts/cmc-citizen-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  docker-compose.functional-tests.yml
  docker-compose.nightly-functional-tests.yml
  docker-compose.smoke-tests.yml
  src/integration-test/bootstrap/bootstrap.ts
  src/integration-test/tests/citizen/ccj/ccj_test.ts
  src/integration-test/tests/citizen/ccj/claimantCCJ_test.ts
  src/integration-test/tests/citizen/ccj/companyCCJ_test.ts
  src/integration-test/tests/citizen/ccj/organisation_test.ts
  src/integration-test/tests/citizen/ccj/soleTraderCCJ_test.ts
  src/integration-test/tests/citizen/claimantResponse/full_admission_test.ts
  src/integration-test/tests/citizen/claimantResponse/part_admission_defendant_is_business_test.ts
  src/integration-test/tests/citizen/claimantResponse/part_admission_test.ts
  src/integration-test/tests/citizen/dashboard/dashboard_test.ts
  src/integration-test/tests/citizen/endToEnd/defence_test.ts
  src/integration-test/tests/citizen/endToEnd/fullAdmission_test.ts
  src/integration-test/tests/citizen/endToEnd/fullDefence_test.ts
  src/integration-test/tests/citizen/endToEnd/statesPaid_test.ts
  src/integration-test/tests/citizen/offers/offers_test.ts
  src/main/features/ccj/views/confirmation-ccj.njk
  src/main/features/ccj/views/confirmation-redetermination.njk
  src/main/features/claim/views/confirmation.njk
  src/main/features/claimant-response/views/confirmation.njk
  src/main/features/offer/views/settled.njk
  src/main/features/orders/views/confirmation.njk
  src/main/features/paid-in-full/views/confirmation.njk
  src/main/features/response/views/confirmation.njk
  src/main/features/settlement-agreement/views/settlement-agreement-confirmation.njk
  src/main/modules/nunjucks/index.ts
  src/main/views/forbidden.njk
  src/main/views/includes/propositional_navigation.njk
  src/main/views/not-found.njk
  yarn-audit-known-issues
Labels: ns:money-claims, prd:cmc, enable_keep_helm, rel:cmc-citizen-frontend-pr-3703
